.my-card {
  border: 2px black solid;
  max-width: 250px;
  min-width: 200px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 576px) {
  .my-card{
    transform: scale(0.7);
  }
}
.imgMovie {
  transition: all 0.4s ease-in-out;
}
.my-card:hover {
  transform: scale(1.06, 1.06);
  opacity: 1.1;
  border: 1px solid wheat;
  z-index: 4;
  border: 3px black solid;
}
.showPokemon {
  height: 100vh;
  display: flex;
  align-items: center;
}
.deshabilitado {
  pointer-events: none;
  opacity: 0.6; /* Opcional: reduce la opacidad para indicar deshabilitación visualmente */
}
.title{
  font-family: "BITWONDER"
}
.instructions{
  font-family: "BITWONDER";
  font-size: 0.8rem;
  border: solid black 3px;
  border-radius: 15px;
  margin-top: 1rem;
  background-color: #78ca72;
  padding: 8px;
}
@font-face {
  font-family: "BITWONDER";
  src: url(./assets/fonts/8bit_wonder/8-BIT\ WONDER.TTF);
}
/* BG Load */
.load-bg{
  background-color: #78C9B3;
}
/* Type Class */
.grass{
  background-color: rgb(74, 154, 74);
}
.fire{
  background-color: rgb(145, 58, 58);
}
.water{
  background-color: rgb(56, 82, 143);
}
.electric{
  background-color: yellow;
}
.bug{
  background-color: #2f8e75;
}
.normal{
  background-color: rgb(116, 113, 113);
}
.poison{
  background-color: rgb(121, 20, 121);
}
.fighting{
  background-color: antiquewhite;
}
.ground{
  background-color: rgb(129, 99, 55);
}
.psychic{
  background-color: rgb(255, 204, 141);
}
.rock{
  background-color: rgb(104, 91, 74);
}
.ghost{
  background-color: rgb(197, 170, 197);
}


